body {
    margin: auto;
    background-color: #331a5c;
    background-image: url("./images/Gradient-Violet.jpg");
    background-size: cover;
    vertical-align: center;
    text-align: top right;
 
}

.topsauce {
    position: absolute;
    top: 0;
    right: o;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
    margin: auto;
    text-align: top right;
    color: #fff;
    width: 100%;
    font-family: 'roboto', sans-serif;
    font-size: large;
    font-weight: 400;
}

.horzintal-menu li {
    list-style-type: none;
    display: inline;
    margin: 5px;
    padding: 2px;
   
}

.Featheryboi {
    list-style-type: none;
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: large;
    text-align: right;
   
}

.Bread {
    margin: 200px;
    display: auto;
    flex-direction: auto;
    flex-wrap: auto;
    color: #fff;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: x-large;
    font-weight: 200;
}

.mainbutton {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: #fe9000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "rotobo", sans-serif;  
}

.mainbutton:hover {
    border: solid #fe9000;
    border-radius: 30px;
}



.buttontwo {
border: #fff;
background-color: transparent;
border-style: solid;
border-width: 1px;
}

.buttontwo:hover {
    border: solid #fff;
    border-radius: 30%;
}

.section2{
    margin: 800;
    min-height: 100;
    background-color: #fff;
    font-family: "roboto", sans-serif;
    font-size: larger;
    color: black;
    text-decoration: black;
    text-align: center;
    vertical-align: middle;
    line-height: 1.8;
    
    
}

